<!doctype html>
<html lang="cs">
<head>
  {% include "partials/seo.njk" %}
  <link rel="stylesheet" href="{{ '/assets/css/base.css' | url }}">
</head>
<body>
  {% include "partials/header.njk" %}
  <main>
    {{ content | safe }}
  </main>
  {% include "partials/footer.njk" %}
</body>
</html>
